<nav class="navbar fixed-bottom navbar-dark bg-dark d-flex justify-content-around">
  <%= link_to new_song_path, class: "nav-link text-white text-center" do %>
    <i class="bi bi-plus-circle"></i><br>
    New
  <% end %>
  <%= link_to songs_path, class: "nav-link text-white text-center" do %>
    <i class="bi bi-house"></i><br>
    Home
  <% end %>
  <% unless user_signed_in? %>
    <%= link_to new_user_session_path, class: "nav-link text-white text-center" do %>
      <i class="bi bi-person"></i><br>
      Login
    <% end %>
  <% end %>
</nav>
