<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      LyricLab
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <!-- Home icon -->
        <li class="nav-item">
          <%= link_to root_path, class: "nav-link" do %>
            <i class="fa-regular fa-house"></i>
          <% end %>
        </li>
        <!-- Avatar with logout -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="avatarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag current_user.avatar_url, class: "rounded-circle", width: 30, height: 30 %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="avatarDropdown">
            <li>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item", data: { confirm: "Are you sure you want to log out?" } %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
