.btn-flat {
  color: #EEEEEE;
  padding: 8px 24px;
  border-radius: 4px;
  background: #78C841;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #578f32;
  color: #EEEEEE;
}

.btn-secondary {
  color: #EEEEEE;
  padding: 8px 24px;
  border-radius: 4px;
  background: #3352ff;
  transition: background 0.3s ease;
}

.btn-secondary:hover {
  background: #2d42ba;
  color: #EEEEEE;
}

.btn-danger {
  color: #EEEEEE;
  padding: 8px 24px;
  border-radius: 4px;
  background: #B31312;
  transition: background 0.3s ease;
}

.btn-danger:hover {
  background: #790b0b;
  color: #EEEEEE;
}
