.icon-button-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 6px; /* space between button and label */
  text-align: center;

  .icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #3F3636;
    color: #EEEEEE;
    text-decoration: none;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    i {
      font-size: 20px;
    }
  }

  .label {
    font-size: 0.8rem;
    color: #EEEEEE; /* adjust to theme */
  }
}

/* Variants */
.icon-button-share {
  &:hover {
    background-color: #78C841; // Twitter blue
  }
}

.icon-button-delete {
  &:hover {
    background-color: #CB0404; // Red
  }
}

.icon-button-edit {
  &:hover {
    background-color: #6C6969; // Amber/Orange
  }
}

.icon-button-back {
  &:hover {
    background-color: #1A2A80; // Red
  }
}
