.landing-hero {
  background: linear-gradient(to right, #010038, #1A2A80);
  color: #EEEEEE;
}

.card {
  border: none;
  border-radius: 12px;
}

.landing-example {
  background: #1A2A80;
}

.title-banner {
  font-family: "Bebas Neue", sans-serif;
}
