.logo2 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-image: url("https://res.cloudinary.com/dt4jctqz1/image/upload/v1755666817/lyriclab2_p0shjl.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  margin: 0 auto 8px; // centers horizontally, adds spacing below
}
